.sign_up_form{
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-30%,-15%);
    
}

input{
    
    border-radius: 25px;
    border-bottom-style: groove;
    padding: 10px;
    margin: 10px 0px;
    width: 375px;
    outline: none;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    
}

.DOB{
    padding: 10px;
    margin: 10px 0px;
    width: 106px;
}

.sign_up_button{
    color: white;
    width: 400px;
    background: black;
}

#date{
    margin-left: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
}

.gender{
    
    top: 25%;
    left: 20%;
    transform: translate(-30%,-15%);
    
}

#sign_up_label{
    font-size: small;
}

#sign_up_text{
    text-align: center;
}

#dob_label{
    font-size: small;
}